*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: blue; */
}
#cont{
    width: 20em;
    height: 40em;
    background-color: lightgrey;
    margin: 5% 20%;
    border-radius: 10px;
    padding: 1px;
}
.screen{
    width: 18em;
    height: 10em;
    background-color: black;
    margin:10% 5%;
    border-radius: 10px;
}
.first-row{
    display: flex;
}
.box{
    text-align: center;
    width: 4em;
    height: 3em;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    color: white;
    margin: 1em;
}
.second-row{
    display: flex;
}
.third-row{
    display: flex;
}
.fourth-row{
    display: flex;
}
.fifth-row{
    display: flex;
}
.equal-box{
    text-align: center;
    width: 15em;
    height: 3em;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    color: white;
    margin: 10px;
}
/* }
@media for screen(max-width:200px){
    #cont{
        width: 20em;
        height: 30em;
    }
} */